body {
    font-family: Impact, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#header_logo {
    max-height: 8rem;
    max-width: 100%;
}

.header_container {
    background: linear-gradient(to right, purple, palevioletred);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right ul {
    display: flex;
    list-style: none;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 150%;
}

.list_item{
    color: white;
    text-decoration: none;
}


footer {
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem;
}


main {
    padding: 1rem;
    text-align: center;
}

section {
    scroll-margin-top: 14rem;
}

.photo-size {
    max-width: 50%;
}

.material-size {
    max-width: 100%;
}

.name_container, .info_container, .contacts_container, .task {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 1rem;
}

.info_container {
    font-size: 200%;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
}

.task {
    flex: 1 1 calc(28% - 1rem);
    max-width: calc(28% - 1rem);
}

h1 {
    text-align: center;
    font-size: 250%;
}

p {
    font-size: 150%;
}

iframe {
    height: 378px;
    width: 672px;
}


.mail-link {
    color: cornflowerblue;
    font-size: 300%;
}

.project-link {
    color: cornflowerblue;
}

.project-name {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.info_list {
    list-style-position: inside;
    animation: color-list 10s infinite;
}

.animated {
    animation: color-change 5s infinite;
    transition: 1s;
}

.animated:hover {
    font-size: 300%;
    transition: 1s;
}

@keyframes color-list {
    0% {
        color: blue;
    }
    50% {
        color: red;
    }
    100% {
        color: blue;
    }
}

@keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: yellow;
    }
    40% {
        color: green;
    }
    60% {
        color: blue;
    }
    80% {
        color: purple;
    }
    100% {
        color: red;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    iframe {
        height: 283px;
        width: 504px;
    }
    .task {
        flex: 1 1 calc(45% - 1rem);
        max-width: calc(45% - 1rem);
    }
}

@media (max-width: 550px) {
    html {
        font-size: 10px;
    }
    iframe {
        height: 189px;
        width: 336px;
    }
    .task {
        flex: 1 1 100%;
        max-width: 100%;
    }
}